In [302]:
import pandas as pd

In [303]:
def read_data(file_path):
    df = pd.read_csv(file_path)

    # drop non-relevant columns
    df.drop(columns=['Reason','index'],inplace=True)

    # # fill missing values
    df['day'].fillna(df['day'].mode()[0],inplace=True)
    df['month'].fillna(df['month'].mode()[0],inplace=True)
    df['year'].fillna(df['year'].mode()[0],inplace=True)
    df['Temperature'].fillna(df['Temperature'].mode()[0],inplace=True)
    df[' RH'].fillna(df[' RH'].mode()[0],inplace=True)
    df[' Ws'].fillna(df[' Ws'].mode()[0],inplace=True)
    df['Rain '].fillna(df['Rain '].mode()[0],inplace=True)
    df['FFMC'].fillna(df['FFMC'].mode()[0],inplace=True)
    df['DMC'].fillna(df['DMC'].mode()[0],inplace=True)
    df['DC'].fillna(df['DC'].mode()[0],inplace=True)
    df['ISI'].fillna(df['ISI'].mode()[0],inplace=True)
    df['BUI'].fillna(df['BUI'].mode()[0],inplace=True)
    df['FWI'].fillna(df['FWI'].mode()[0],inplace=True)
    df['Classes  '] = df['Classes  '].str.strip()
    df['Classes  '].fillna(df['Classes  '].mode()[0],inplace=True)

    #replase value
    df['Classes  '].replace('not  fire', 'not fire', inplace=True)
    df['Classes  '].replace('Fire', 'fire', inplace=True)
    df['Classes  '].replace('TRUE', 'fire', inplace=True)
    df['Classes  '].replace('Classes', 'fire', inplace=True)

    # change type to int
    df['day'] = pd.to_numeric(df['day'], errors='coerce')
    df['day'] = df['day'].fillna(df['day'].mode()[0]).astype(int)
    df['month'] = pd.to_numeric(df['month'], errors='coerce')
    df['month'] = df['month'].fillna(df['month'].mode()[0]).astype(int)
    df['year'] = pd.to_numeric(df['year'], errors='coerce')
    df['year'] = df['year'].fillna(df['year'].mode()[0]).astype(int)
    df[' RH'] = pd.to_numeric(df[' RH'], errors='coerce')
    df[' RH'] = df[' RH'].fillna(df[' RH'].mode()[0]).astype(int)
    df[' Ws'] = pd.to_numeric(df[' Ws'], errors='coerce')
    df[' Ws'] = df[' Ws'].fillna(df[' Ws'].mode()[0]).astype(int)
    # change type to float
    df['Temperature'] = pd.to_numeric(df['Temperature'], errors='coerce')
    df['Temperature'] = df['Temperature'].fillna(df['Temperature'].mode()[0]).astype(float)
    df['Rain '] = pd.to_numeric(df['Rain '], errors='coerce')
    df['Rain '] = df['Rain '].fillna(df['Rain '].mode()[0]).astype(float)
    df['FFMC'] = pd.to_numeric(df['FFMC'], errors='coerce') 
    df['FFMC'] = df['FFMC'].fillna(df['FFMC'].mode()[0]).astype(float)
    df['DC'] = pd.to_numeric(df['DC'], errors='coerce')
    df['DC'] = df['DC'].fillna(df['DC'].mode()[0]).astype(float)
    df['ISI'] = pd.to_numeric(df['ISI'], errors='coerce')
    df['ISI'] = df['ISI'].fillna(df['ISI'].mode()[0]).astype(float)
    df['BUI'] = pd.to_numeric(df['BUI'], errors='coerce')
    df['BUI'] = df['BUI'].fillna(df['BUI'].mode()[0]).astype(float)
    df['FWI'] = pd.to_numeric(df['FWI'], errors='coerce')
    df['FWI'] = df['FWI'].fillna(df['FWI'].mode()[0]).astype(float)
    df['DMC'] = pd.to_numeric(df['DMC'], errors='coerce')
    df['DMC'] = df['DMC'].fillna(df['DMC'].mode()[0]).astype(float)

    # change to date
    df['date'] = pd.to_datetime(df[['year', 'month', 'day']])
  

    return df
df = read_data(r'C:\Users\anwer\OneDrive\Desktop\NEW DATA\forest_fire.csv')

In [307]:
df['Classes  '].value_counts(normalize=True)*100

Classes
fire        57.08502
not fire    42.91498
Name: proportion, dtype: float64

In [308]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          247 non-null    int32
 1   month        247 non-null    int32
 2   year         247 non-null    int32
 3   Temperature  247 non-null    float64
 4    RH          247 non-null    int32
 5    Ws          247 non-null    int32
 6   Rain         247 non-null    float64
 7   FFMC         247 non-null    float64
 8   DMC          247 non-null    float64
 9   DC           247 non-null    float64
 10  ISI          247 non-null    float64
 11  BUI          247 non-null    float64
 12  FWI          247 non-null    float64
 13  Classes      247 non-null    object
 14  date         247 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(8), int32(5), object(1)
memory usage: 24.2+ KB

In [309]:
df

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,date
0,1,6,2012,29.0,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,2012-06-01
1,2,6,2012,29.0,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire,2012-06-02
2,3,6,2012,26.0,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,2012-06-03
3,4,6,2012,25.0,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire,2012-06-04
4,5,6,2012,27.0,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire,2012-06-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,26,9,2012,86.0,65,14,0.0,85.4,16.0,44.5,4.5,16.9,6.5,fire,2012-09-26
243,27,9,2012,82.4,87,15,4.4,41.1,6.5,8.0,0.1,6.2,0.0,not fire,2012-09-27
244,28,9,2012,80.6,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire,2012-09-28
245,29,9,2012,75.2,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire,2012-09-29
246,30,9,2012,75.2,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire,2012-09-30